---
header: false
---


<div class="poem">
<div class="jumbo"><h2>Peggy and Luke's Wedding<span class="author">by Charles McGregor</span></h2></div>
<pre>
You’ve solved
the puzzle!
The Peg fits
in your heart.

You’ve found your feet!
Love’s labour
lightened in
reciprocation.

He has you safe.
He’s stronger
than the current;
trust to him.

Wrapped up together,
Scarves and coats,
smiling in snowflakes,
hand in glove.

Your sunrise
over Angkor Wat,
in all its glory, 
is today.

Your life
together
your promised 
way.
</pre>
</div>