---
header: false
---
<div class="speech">
<p>
Peggy asked me to write a poem for her wedding.  Those of you who were at the ceremony will have heard it, but you may not have understood many of the references, since it was written for Peggy and Luke.  Peggy suggested that I might explain them in this speech, so that’s what I’m going to do.
</p>
<p>
I start the poem by referring how well Peggy and Luke fit together – like a round peg in a round hole.  Except... I changed that around a bit when it occurred to me that among the more cynical of you, the phrase "a round Peg” used at her wedding might be misconstrued.
</p>
<p>
It’s a bit like the two Welsh housewives who were chatting over the fence one day as they hung out their washing, and the one said to the other – and here you’ll have to forgive the Welsh accent – the one said to the other,
</p>
<p>
"Did you hear that Rhys is marrying Gwyneth?”<br />
"No!” exclaimed her friend.<br />
"Yes!” said the woman, "and she’s not even pregnant!"<br />
"Oh! said the other, "there’s posh for you!”<br />
</p>
<p>
So anyway, to be on the safe side, I avoided the phrase "a round Peg”. 
</p>
<p>
Peggy and Luke are… comfortable together, and that is very important for Peggy.  Comfort has been a high priority all her life. There are several people here today who will remember trying to dress her when she was a little girl, only to have the pants, tights and dresses rejected with the cry of "But I’m not comfortable!”  And so dungarees were the order of the day.  Of course, she hasn’t worn dungarees for a long time… Oh no, wait… she has!  Peggy, would you like to tell everyone when you last wore dungarees?  At the registry office on Tuesday, when they made today legal.  Of course, they were white, but dungarees, none the less.  Peggy has to be comfortable.
</p>
<p>
And with Luke, I’m happy to say, she is.  There’s a photograph of the two of them, which many of you will have seen, which for me exemplifies this.  They are walking at night in falling snow, and there is a happiness in their faces which I can only describe as ‘a oneness’.  So of course, that went in the poem.
</p>
<p>
Peggy asked her brother Duncan and me to play a set at the party later on, and one of the songs we’re going to sing is called "Swing Life Away”, by the punk rock band Rise Against – unlikely as that may seem.  The first time I learned of this song was when I read a line from it tattooed  across the top of my eldest daughter’s feet.  It said:  If love is a labour, I’ll slave ‘til the end.  Now, I’ll admit, I’m not a big fan of tattoos, but I do like this line in the song.  It recognizes that life-long love has to be worked at, sometimes very hard, and for someone to tattoo that on her feet strongly suggests to me that she believes it with all her heart.  So that went in the poem.
</p>
<p>
A couple of years ago, Peggy and Luke went off to backpack throughAsia together.  I thought it was a fine idea, not only because it was an opportune time for them to travel, but also because it was a good way for them to learn about each other outside of their comfort zone.  By the end of the trip I was impressed with the way in which Luke conducts himself when the going gets tough.  
</p>
<p>
One occasion stands out for me, and that is the time in Cambodia when he and Peggy went snorkelling.  Rather than me tell the story second-hand, listen to Peggy’s account from her blog of the trip:
</p>
<p>
It was a two hour boat ride to the island… [and] we sat on the prow together most of the way, spotting jellyfish floating near the surface and watching the sea get darker.
...Far up ahead we could see dark clouds shedding sheets of rain. The captain headed for a gap between two large islands, but the [channel] soon became lost in fog. …At this point the dark clouds that had been bubbling above us let loose a torrent of rain, turning the surface of the sea into a pockmarked minefield.
</p>
<p>
We stopped off the coast of an island – too far off for my liking.  It was rainy and windy, and the sea looked dark and grey. ‘Not what I had envisioned’, I thought.  …Nevertheless, we weren’t about to back out – stiff upper lip and all that. We donned our snorkels and flippers and plunged into the water.
</p>
<p>
	...[It] was so churned up with sand that we couldn’t see anything. … I hadn’t put in my mouthpiece when we jumped in and now I couldn’t get the saltwater out of it. As the rain increased, the choppy waves made swimming difficult, and I couldn’t get the hang of using flippers. I …felt trapped, like I couldn’t swim or breath. "I want to go back!” I called to Luke, but as we turned around I realised the current had carried us, and we had drifted away from the boat.
</p>
<p>
I started to panic.. [which] only made things worse. I’ve never been a bad swimmer, but …my limbs froze up and all I could muster was a frantic doggy paddle. I began to hyperventilate, and to swallow seawater. Luke held my hand to reassure me and started dragging me back towards the boat,  but we didn’t seem to be getting closer.  I tried hard to get a grip, but panic quite literally had a hold on my body. Eventually, Luke managed to calm me down enough to make some headway, and meanwhile my shouts of fear had been heard by the crewman, who tossed a rope out to us.
</p>
<p>
This is the stuff that fathers want their sons-in-law to be made of.  So that went in the poem.
</p>
<p>
From Luke bribing Vietnamese taxi drivers to return Peggy’s camera, to the two of them sitting in the twilight at Angkor Wat, watching the sun rise over the temple’s domes, I’m sure they learned a great deal about each other on that trip and grew ever closer.  And reading their daily blog, Lynne and I learned about them as a couple, together dealing capably with their day-to-day adventures, as I’m sure they will with their adventures in life.
</p>
<p>
So, if those of you who’ve already heard this poem will bear with me, I’ll finish by reading it again.
</p>
<pre>
You’ve solved
the puzzle!
The Peg fits
in your heart.

You’ve found your feet!
Love’s labour
lightened in
reciprocation.

He has you safe.
He’s stronger
than the current;
trust to him.

Wrapped up together,
Scarves and coats,
smiling in snowflakes,
hand in glove.

Your sunrise
over Angkor Wat,
in all its glory, 
is today.

Your life
together
your promised 
way.
</pre>
</div>