---
header: false
---
{{#peopleandstories}}
    {{#if people}}
        {{#with people}}
            {{#if items}}
                <section class="tabs people">
                    <nav class="tabs--nav"><!--
                        {{#each items}}
                            --><div class="tabs--nav--tab{{#if @first}} active{{/if}}">
                                {{title}}
                            </div><!--
                        {{/each}}
                    --></nav>
                    <div class="tabs--content">
                        {{#each items}}
                            <section class="tabs--content--container{{#if @first}} active{{/if}}"><!--
                                {{> people}}
                            --></section>
                        {{/each}}
                    </div>
                </section>
            {{/if}}
        {{/with}}
    {{/if}}
{{/peopleandstories}}