---
header: false
---
{{#rsvp}}
    {{#if title}}
        <div class="jumbo center"><h2 class="jumbo--border">{{title}}</h2></div>
    {{/if}}
    <div class="js-rsvp-form rsvp-form">
    </div>
{{/rsvp}}