---
header: false
---
{{#speechesandphotos}}
{{!-- 
    {{#if title}}
        <div class="jumbo center photos-title"><h2 class="jumbo--border">{{title}}</h2></div>
    {{/if}}
     --}}
    {{> columns}}
{{/speechesandphotos}}