@import 'partials/variables'
@import 'partials/fonts'

html
	font-family 'DistantStroke'
	font-size 30px
	color $Mediumgrey

header
	text-align center
	h1
		font-weight normal
		font-size 3em
	h2
		font-weight 100
		font-family Helvetica
		font-size 1em
		