$tablet = 600
$desktop = 1000
$desktop-large = 1300

$tablet-breakpoint = "only screen and (min-width: " + $tablet + "px)"
$desktop-breakpoint = "only screen and (min-width: " + $desktop + "px)"
$desktop-large-breakpoint = "only screen and (min-width: " + $desktop-large + "px)"