$fonts = 'fonts/' 
@font-face {
    font-family: 'DistantStroke';
    src: url($fonts + 'Distant_Stroke.eot?#iefix') format('embedded-opentype'),
         url($fonts + 'Distant_Stroke.woff') format('woff'),
         url($fonts + 'Distant_Stroke.ttf')  format('truetype');
}
@font-face {
    font-family: 'DistantStroke';
    src: url($fonts + 'Distant_Stroke.eot?#iefix') format('embedded-opentype'),
         url($fonts + 'Distant_Stroke.woff') format('woff'),
         url($fonts + 'Distant_Stroke.ttf')  format('truetype'); /* Safari, Android, iOS */
}