$fonts = 'fonts/' 
@font-face {
    font-family: 'DistantStroke';
    src: url($fonts + 'Distant_Stroke.eot?#iefix') format('embedded-opentype'),
         url($fonts + 'Distant_Stroke.woff') format('woff'),
         url($fonts + 'Distant_Stroke.ttf')  format('truetype');
}
@font-face {
    font-family: 'DistantStroke';
    src: url($fonts + 'Distant_Stroke.eot?#iefix') format('embedded-opentype'),
         url($fonts + 'Distant_Stroke.woff') format('woff'),
         url($fonts + 'Distant_Stroke.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Karbon';
    src:    url($fonts + 'KarbonWeb-Thin.eot');
    src:    url($fonts + 'KarbonWeb-Thin.eot?#iefix') format('embedded-opentype'),
            url($fonts + 'KarbonWeb-Thin.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'Karbon';
    src:    url($fonts + 'KarbonWeb-ThinItalic.eot');
    src:    url($fonts + 'KarbonWeb-ThinItalic.eot?#iefix') format('embedded-opentype'),
            url($fonts + 'KarbonWeb-ThinItalic.woff') format('woff');
    font-style: italic;
}