.navigation
	&--item
		display inline-block
		vertical-align middle
		text-align center
		width 100%
		@media $tablet-breakpoint
			width 50%
		@media $desktop-breakpoint
			width 25%
		a
			text-decoration none
			display inline-block
			padding 0.5em
			&:hover
				border-bottom 1px solid $Mediumgrey
		img
			max-width 100px
			display inline-block
			vertical-align middle