.people
    margin-top 50px
    &--item
        padding 1em
        @media $tablet-breakpoint
            width 50%
            display inline-block
        @media $desktop-breakpoint
            width 25%
        &--title
            margin-bottom 5px
            &s
                cursor pointer
                position relative
                padding 0.5em 1em
                border 1px solid $Lightgrey
                margin-bottom 1em
                &.expanded, &.collapsing
                    border-bottom none
                    .people--item--details
                        opacity 1
        &--subtitle
            font-family 'Karbon'
            font-size 0.8em
        &--details
            position absolute
            z-index 10
            background-color rgba(255,255,255,0.95)
            font-size 0.8em
            // Add width so that it overlaps other border
            width calc(100% + 2px)
            left -1px
            right 0
            border 1px solid #b2c4ca
            border-top none
            transition height 0.5s ease-out
            overflow hidden
            margin-top: 0.5em
            padding: 0.5em
            opacity 0
        &--image
            perspective 1000
            transform-style preserve-3d
            width 100%
            height 400px
            img
                max-width 100%
            .flip
            &_front
            &_back
                transition 0.6s
                transform-style preserve-3d
                -moz-transform perspective(1000px)
            .flip
                position relative
                width 100%
                height 100%
            &_back
            &_front
                width 100%
                height 100%
                backface-visibility hidden
                position absolute
                top 0
                left 0
            &_front
                z-index 2
                transform rotateY(0deg)
            &_back
                transform rotateY(-180deg)
            &.hover
                .people--item--image
                    &_front
                        transform rotateY(180deg)
                    &_back
                        transform rotateY(0deg)
