.people
    margin 50px auto 50px
    @media $tablet-breakpoint
        padding 0 50px
    &--item
        padding 1em
        @media screen and (min-width: 800px)
            width 50%
            display inline-block
            vertical-align top
        @media $desktop-breakpoint
            width 33.333333%
        @media screen and (min-width: 1405px)
            width 25%
        &--title
            margin-bottom 5px
            font-family inherit
            font-size 50px
            font-weight normal
            font-family 'Distantstroke'
            @media $desktop-breakpoint
                font-size 40px
            @media screen and (min-width: 1600px)
                font-size 50px
            &s
                cursor pointer
                position relative
                padding 0.5em 1.5em 0.5em 1em
                // border 1px solid $Lightgrey
                // margin-bottom 1em
                .icon
                    position absolute
                    right 0.5em
                    top 50%
                    margin-top -15px
                &.expanded, &.collapsing
                    border-bottom none
                    .people--item--details
                        opacity 1
                    .icon
                        transform rotate(180deg)
        &--subtitle
            font-family 'Karbon'
            font-size 23px
            font-weight bold
        &--details
            position absolute
            z-index 10
            background-color rgba(255,255,255,1)
            font-size 0.8em
            // Add width so that it overlaps other border
            width calc(100% + 2px)
            left -1px
            right 0
            border 1px solid #b2c4ca
            border-top none
            transition height 0.5s ease-out
            overflow hidden
            margin-top 15px
            padding 0.5em
            opacity 0
            font-size 20px
            line-height 1.3
            // overflow auto
            .expanded &
                overflow auto
            p
                margin 0
        &--image
            perspective 1000
            transform-style preserve-3d
            width 100%
            height 250px
            img
                max-width 100%
            .flip
            &_front
            &_back
                transition 0.6s
                transform-style preserve-3d
                -moz-transform perspective(1000px)
            .flip
                position relative
                width 100%
                height 100%
            &_back
            &_front
                width 100%
                height 100%
                backface-visibility hidden
                position absolute
                top 0
                left 0
            &_front
                z-index 2
                transform rotateY(0deg)
            &_back
                transform rotateY(-180deg)
            &.hover
                .people--item--image
                    &_front
                        transform rotateY(180deg)
                    &_back
                        transform rotateY(0deg)
