$Skyblue = #5286b5
$Skyblue-rgb = rgb(82,134,181)

$Mediumblue = #224e7f
$Mediumblue-rgb = rgb(34,78,127)

$Grey-blue = #6d92ac
$Grey-blue-rgb = rgb(109,146,172)

$Palegreen = #b6c7b4
$Palegreen-rgb = rgb(182,199,180)

$Grey-green = #adc6c2
$Grey-green-rgb = rgb(173,198,194)

$Palegreen-yellow = #d6dcb8
$Palegreen-yellow-rgb = rgb(214,220,184)

$Teal-blue  = #528596
$Teal-blue-rgb = rgb(82,133,150)

$Blue-black = #001120
$Blue-black-rgb = rgb(0,0,12)

$Babyblue = #84b5c6
$Babyblue-rgb = rgb(132,181,198)

$Lightgrey = #b2c4ca
$Lightgrey-rgb = rgb(178,196,202)

$Mediumgrey = #8a959c
$Mediumgrey-rgb = rgb(138,149,156)

$Darkgrey = #202324
$Darkgrey-rgb = rgb(32,35,36)