<!doctype html>
<html lang="en">
    <head>
        <title>Index | Luke and Peggys Wedding</title>
        <meta name="description" content="Information for guests of Luke Woollett and Peggy McGregor's wedding." />
        <meta name="viewport" content="width=device-width; initial-scale=1.0" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
        <script src="js/test.js"></script>
        <link rel="stylesheet" type="text/css" href="css/global.css" />
    </head>
    <body>
        <main class="wrapper">
            {{#if header}}
                {{#global}}
                        {{> header}}
                {{/global}}
            {{/if}}
            {{> navigation}}
            {{> body}}
        </main>
    </body>
</html>